.flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    text-align: center;
    gap: 20px;
  }
  .v {
    width: 100%;
    height: 200px;
  }
  .v1 {
    color: #007185;
  }
  .v2 {
    width: 15px;
  }
  .head {
    border: 1px solid black;
  }
  .b4 {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
  }