.flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100px;
    text-align: center;
    gap: 20PX;
  
  }
  
  .b {
    color: #007185;
  }
  
  .b3 {
    color: goldenrod;
    width: 15px;
  }
  
  .b2 {
    width: 300px;
    height: 100px;
  
  }
  
  .b4 {
    display: flex;
    justify-content: center;
  }
  
  .b5 {
    border: 1px solid gray;
  }
  