.maindiv{
    width:100% ;
    height:650px ;
    background-color:#2b3642;
    /* background-color:#131A22; */
  }
  .back{
    width: 100%;
    height: 54px;
    position: relative;
    background-color:#3a4e61 ;
  
  
    color: white;
  }
  .backto{
    width: 10%;
    position: relative;
    left: 644px;
    font-size: 15px;
    font-weight: 190;
    top: 15px;
  
  }
  .header{
    width: 94%;
    height: 80px;
    display: flex;
    position: relative;
    gap: 100px;
    left: 20px;
    /* font-size: 20px; */
    font-weight: 200;
    /* background-color: aqua; */
  }
  ul{
    display: inline;
    position: relative;
    gap: 90%;
    left: 80px;
    font-weight: 700;
    top: 60px;
    font-size: 25px;
    /* background-color: coral; */
  }
  li{
    display: inline;
    padding: 63px;
    gap: 80px;
    /* font-size: 20px; */
  
    /* background-color: cornflowerblue; */
  }
  .head1{
    width: 60%;
    position: relative;
    left: 120px;
    top: 30px;
    font-size: 14px;
    font-weight: 400;
  }
  .a1{
    position: relative;
    right: 40px;
  }
  .boxtwo{
    width: 60%;
    position: relative;
    left: 364px;
    top: -116px;
    font-size: 14px;
    font-weight: 400;
  }
  .a2{
    position: relative;
    right: 40px;
  }
  .boxthree{
    width: 60%;
    position: relative;
    left: 613px;
    top:-246px;
    font-size: 14px;
    font-weight: 400;
  }
  .a3{
    position: relative;
    right: 40px;
  }
  .boxfour{
    width: 60%;
    position: relative;
    left: 900px;
    top:-627px;
    font-size: 14px;
    font-weight: 400;
    
  }
  .a4{
    position: relative;
    right: 40px;
  }
  select{
    background-color: #2b3642;
    /* background-color: aqua; */
    width: 85%;
    height:33px;
    border-radius: 1px solid white;
    color:rgb(204, 200, 200);
  }
  .hrline{
    width: 990%;
    position: relative;
    bottom: 19px;
    size: 10px;
    right: 498%;
    color: #2b3642;
  }
  .amazonimg{
    width: 10%;
    height: 10px;
    position: relative;
    top: 10px;
    right:150px ;
  
  }
  
  .btn{
    width: 10%;
    height: 44px;
    position: relative;
    bottom: 440px;
    left: 50%;
    background-color:#2b3642;
    border-color: white;
    /* color: white; */
  }
  .india{
    width: 63%;
    bottom: 74%;
    position: relative;
    left: 91%;
    border-color: 2px solid white;
    /* background-color: aqua; */
  
  }
  .btn2{
    width: 75%;
    height: 26px;
    position: relative;
    left: 5%;
    background-color:#2b3642 ;
    border-color: 1px solid white;
    border-radius: 1px solid white;
    color:rgb(204, 200, 200);
  
  }
  .indiaimg{
       width: 20%;
       height: 40px;
  }
  .lastfooter{
    width: 100%;
    height: 280px;
    position: relative;
    gap: 140%;
    color: whitesmoke;
    background-color:#1a1d20;
  }
  ul{
    font-size: 12px;
    font-weight: 300;
    top: 30px;
  }
  .line1{
    position: relative;
    top: 30px;
    font-size: 12px;
    left: 56px;
  }
  .b1{
    position: relative;
    left: 23px;
  }
  .line2{
    position: relative;
    top: -115px;
    font-size: 12px;
    left: 22.4%;
  }
  .b2{
    position: relative;
    left: 23px;
  }
  .line3{
    position: relative;
    top: -259px;
    font-size: 12px;
    left: 38%;
  }
  .b3{
    position: relative;
    left: 23px;
  }
  .b33{
    position:relative;
    left: 60px;
  }
  .line4{
    position: relative;
    top: -430px;
    font-size: 12px;
    left: 55%;
  }
  .b4{
    position: relative;
    left: 23px;
  }
  .last{
    /* width: 20%;
    height: 110px;
    position: relative;
    display: inline;
    gap: 10%;
    color:blueviolet;
    bottom: 145%;
    left: 30%; */
  
    width:40%;
    height: 100px;
    position: relative;
    gap: 140%;
    color:white;
    /* font-weight: 100; */
    left: 38%;
    bottom: 152%;
    /* background-color: crimson; */
    
  }
  .l1{
    /* background-color: aqua; */
    /* font-weight: 600; */
    font-size: 11px;
    bottom: 20px;
    top: 20px;
  }
  .l2{
    width: 15%;
    /* background-color:yellow; */
    position: relative;
    left:26% ;
    font-size: 11px;
    bottom:34px ;
  }.l3{
    /* background-color: green; */
    width: 40%;
    position: relative;
    left:43% ;
    font-size: 11px;
    bottom:67px ;
  
  }
  .p{
   width: 30%;
   /* background-color: brown; */
   position: relative;
   left: 42%;
   font-size: 11px;
   bottom: 520px;
  }
  
  
  
  